.home-section {
  position: relative;
  min-height: calc(100vh - 11.7vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  box-sizing: border-box;
  line-height: 1.3;
  
  font-family: 'Inter', sans-serif; 

}

.home_grid {
  display: grid;
  width: 100%;
  min-height: inherit ;
  grid-template-columns: 0.1fr 1.9fr;
 
  place-items: space-between;
}

.home_content {
  width: 100%;
 display: grid;
 grid-template-columns: 1.1fr 0.9fr;
 gap: 0px;
}
.highlight{
  color: cyan;
  font-weight: 400;
  font-size: 17.5px;
}


.home_content h1 {
  font-weight: 900;
  line-height: 1.3;
  
  font-size: clamp(40px, 6vw, 55px);

  padding: 0px;
  display: inline-block;
  margin: 0px 0px 10px 0px;
  text-shadow:
    0 0 2px #d2c8da,
    0 0 4px #8F00FF,
    0 0 10px #8F00FF;
 
  

 
}
.home_content h4{
  font-weight: 200;
  font-size:17px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.8);
}

.home_grid h3{
  color: rgba(255, 255, 255, 0.8);
  padding-bottom:10px ;

}


.home_title {
  padding: 20px;

  min-height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;

  
}
.home_title h2{
  font-weight: 700;
  color:rgba(255, 255, 255, 0.9);
  letter-spacing: 1.6;
  
}

.social_icons {
  position: fixed;
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1.6rem;
  margin: auto 0;
  height: 100vh;
  place-content: center;
}

.icon {
  text-decoration: none;
  width: 20px;
  height: 20px;
  color: whitesmoke;
  opacity: 0.8;

}

.img-gradient {
  margin: auto;
  width: 85%;
  height: 100%;
  background-image: url('../../src/assets/final.PNG');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
  display: block;
  margin: 0 auto;
  position: relative;
  justify-self: end;
  margin-right: -1%;

}

.custom-btn {
  color: #0bf4f3;
  width: 180px;
  height: 50px;
  padding: 1.25rem 1.75rem;
  font-weight: 500;
  background: transparent;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
  position: relative;

  margin: 20px 0px;

  border-radius: 3px;

}



.btn-4 {
  color: #0bf4f3;
  padding: 0;
  border: 1px solid #0bf4f3;
  box-shadow: 0 0 5px #0bf4f3, 0 0 5px inset;

}

.btn-4::after {
  position: absolute;
  content: "";
  top: 5px;
  left: 6px;
  width: 90%;
  height: 70%;
  border: 1px solid #0bf4f3;
  box-shadow: 0 0 5px #0bf4f3 inset;
  opacity: 0;
  transition: all 0.3s ease;
  border-radius: 3px;
}

.btn-4:hover:after {
  opacity: 1;
}


@media (max-width:920px) {
  .home-section .home_grid {
    min-width: auto;
    display: grid;
    grid-template-columns: 1fr;
  }

  .container {
    width: 93%;

    display: flex;
    margin: auto;
  }

  


.home_social {
  display: none;
}

}


@media (max-width:758px) {

  .home_content{
    grid-template-columns: 1fr;
  }
  .home_title {
   width: 100%;
   height: auto;
 
    
  }
  .img-gradient{
    width: 100%;
    height: 300px;
    margin: 20px 0px;
   
   
  }
}