
  /* Variables */
  /* Base */
  
  strong {
    font-weight: 600;
  }
  
  
  
  #content {
    width: 100%;
  
    display: flex;
    flex-direction: row;
  
  
  }
  
  /* Timeline */
  .timeline {
  
    border-left: 2px solid rgba(255, 255, 255, 0.1);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 20px;
    letter-spacing: 0.5px;
  
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 30px 0 0 50px;
    list-style: none;
    text-align: left;
    font-weight: 100;
    width: 75%;
    align-items: flex-start;
  
  }
  
  .timeline h1,
  .timeline h2,
  .timeline h3 {
    letter-spacing: 1.3px;
    font-weight: 100;
    font-size: 1.4em;
  }
  .timeline h3{
    font-weight: 400;
    font-size: 18px;
  }
  .timeline h5{
    font-weight: 200;
  }
  .timeline h6{
    font-weight: 200;
    padding: 0px;
    font-size: 13px;
  }

  .event li{
    list-style: inside;
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 10px;
    letter-spacing: 1.3px;
  }
  

  .timeline .event {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;
  }
  .event p span{
    padding-left: 6px;
  }
  .dash{
    font-weight: 900;
    padding-right: 3px;
  }
  
 
  .timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }
  
  .timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
  }
  
  .timeline .event:before {
    left: -200.5px;
    content: attr(data-date);
    text-align: right;
    font-size: 20px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.9);
  
  }
  
  .timeline .event:after {
    box-shadow: 0 0 0 2px;
    left: -73px;
    background: url('../assets/ezest.png');
    background-repeat: no-repeat;
    object-fit: cover;
    background-position-x: center;  
    background-position-y: center;
    background-size: contain;
    height: 40px;
    width: 40px;
    content: "";
    top: 0px;
  }

  .timeline_content{
    padding-top: 8px;
  }